#mini-sponsors {
    width: 100%;
}

#mini-sponsors-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#mini-sponsors-title {
    font-family: "Alfa Slab One";
    color: black;
    font-size: 3em;

    text-align: center;

    margin-bottom: 0.5em;
}

#mini-sponsors-gold,
#mini-sponsors-silver,
#mini-sponsors-bronze {
	display: grid;
	gap: 10%;

	padding: 12px;
	box-sizing: border-box;
	max-width: 70%;
	margin-left: auto;
    margin-right: auto;
    margin-top: -2em;
}

#mini-sponsors-gold img {
    width: 100%;
	aspect-ratio: 1;
    border-radius: 12px;
    position: relative;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);

    transition: box-shadow 0.1s;
}
#mini-sponsors-gold img:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
#sponsorContainer {
    position: relative;
}
#sponsorName {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Poppins";
    font-size: 1.25em;
    text-align: center;
}

#mini-sponsors-gold {
    width: 40%;
	grid-template-columns: 45% 45%;
}
#mini-sponsors-silver {
	grid-template-columns: auto auto auto auto auto;
}
#mini-sponsors-bronze {
	grid-template-columns: auto auto auto auto auto auto;
}

.mini-sponsors-image {
	width: 100%;
	aspect-ratio: 1;

	background-position: center;
	background-size: cover;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

    transition: filter;
}
.mini-sponsors-image:hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5))
}

@media only screen and (max-width: 900px) {
    #mini-sponsors {
        width: 100%;
    }

    #mini-sponsors-title {
        width: 80%;
        font-size: 1.5em;
    }

    #mini-sponsors-gold,
    #mini-sponsors-silver,
    #mini-sponsors-bronze {
        display: grid;
        gap: 2%;

        padding: 12px;
        box-sizing: border-box;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}