#mini-sponsors {
    width: 100%;
}

#mini-sponsors-container {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: purple;
}

#mini-sponsors-title {
    font-family: "Alfa Slab One";
    color: black;
    font-size: 3em;

    text-align: center;

    margin-bottom: 0.5em;
}

#mini-sponsors-gold,
#mini-sponsors-silver,
#mini-sponsors-bronze {
	display: grid;
	gap: 4em;

	padding: 12px;
	box-sizing: border-box;
	width: 70%;
	margin-left: auto;
    margin-right: auto;
}

#mini-sponsors-gold {
	grid-template-columns: auto auto auto auto;
}
#mini-sponsors-silver {
	grid-template-columns: auto auto auto auto auto;
}
#mini-sponsors-bronze {
	grid-template-columns: auto auto auto auto auto auto;
}

.mini-sponsors-image {
	width: 100%;
	aspect-ratio: 1;

	background-position: center;
	background-size: cover;
}

@media only screen and (max-width: 900px) {
    #mini-sponsors {
        width: 100%;
    }

    #mini-sponsors-title {
        width: 80%;
        font-size: 1.5em;
    }

    #mini-sponsors-gold,
    #mini-sponsors-silver,
    #mini-sponsors-bronze {
        display: grid;
        gap: 2%;

        padding: 12px;
        box-sizing: border-box;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}